.contactSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 80px;

  .contactContent {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      width: fit-content;
      font-size: 32px;
      font-variation-settings:
        'wdth' 75,
        'wght' 500;
      text-transform: uppercase;
      user-select: none;
      margin-bottom: 10px;

      &::after {
        content: '';
        display: block;
        width: 40%;
        height: 5px;
        margin: 15px auto;
        background-color: rgb(var(--colorBrandAccentRgb));
      }
    }

    .front > p {
      font-size: 16px;
      font-variation-settings:
        'wdth' 75,
        'wght' 300;
    }

    .contactAction {
      width: 100%;
      display: flex;
      margin: 20px 0;
      justify-content: flex-start;
      pointer-events: all;
      gap: 16px;
    }
  }

  .contactAnim {
    max-width: 100%;
    max-height: 100%;
    flex: 1;
    margin: 80px;

    .welcomeAnim {
      width: 100%;
      max-width: 600px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 900px) {
  .contactSection .contactContent .front > p {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .contactSection {
    flex-direction: column;
    padding: 120px 20px 0;

    .contactContent {
      width: 80%;
      align-items: center;

      .front > p {
        text-align: center;
      }
    }

    .contactAction {
      justify-content: center !important;
      zoom: 0.9;

      .button:first-child {
        margin-right: 15px !important;
      }
    }

    .contactAnim {
      margin: 80px 100px;
    }
  }
}

@media (max-width: 530px) {
  .contactSection {
    .contactContent {
      width: 98%;

      h2 {
        font-size: 30px;
      }
    }

    .contactAnim {
      margin: 100px 50px;
    }
  }
}

.contactSection .contactContent {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.hidden {
    opacity: 0;
    transform: translateY(-10px);
  }
}
